In [20]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/data.csv')

In [23]:
data.shape

(150000, 11)

In [24]:
data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [25]:
cols_to_use = ['SeriousDlqin2yrs','age','DebtRatio', 'NumberOfOpenCreditLinesAndLoans','NumberOfDependents']
data = data[cols_to_use]
data.head()

,SeriousDlqin2yrs,age,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfDependents
0,1,45,0.802982,13,2.0
1,0,40,0.121876,4,1.0
2,0,38,0.085113,2,0.0
3,0,30,0.036050,5,0.0
4,0,49,0.024926,7,0.0

In [26]:
data.isnull().values.any()

True

In [60]:
data = data.dropna()
data.shape

(146076, 5)

In [93]:
features = data[['age','NumberOfOpenCreditLinesAndLoans','DebtRatio']]
labels = data['SeriousDlqin2yrs']
data.head()

,SeriousDlqin2yrs,age,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfDependents
0,1,45,0.802982,13,2.0
1,0,40,0.121876,4,1.0
2,0,38,0.085113,2,0.0
3,0,30,0.036050,5,0.0
4,0,49,0.024926,7,0.0

In [94]:
features.head()

   age  NumberOfOpenCreditLinesAndLoans  DebtRatio
0   45                               13   0.802982
1   40                                4   0.121876
2   38                                2   0.085113
3   30                                5   0.036050
4   49                                7   0.024926

In [95]:
labels.head()

0    1
1    0
2    0
3    0
4    0
Name: SeriousDlqin2yrs, dtype: int64

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X_train, X_test, y_train, y_test = train_test_split(features,labels, random_state=13)

In [98]:
X_train.shape

(109557, 3)

In [99]:
X_test.shape

(36519, 3)

In [100]:
y_train.shape

(109557,)

In [101]:
y_test.shape

(36519,)

In [102]:
from sklearn.tree import DecisionTreeClassifier

In [103]:
DecisionTreeModel = DecisionTreeClassifier(max_depth = 4)

In [104]:
DecisionTreeModel.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [105]:
from sklearn.metrics import accuracy_score

In [106]:
y_predict = DecisionTreeModel.predict(X_test)

In [107]:
accuracy_score(y_test, y_predict)

0.9335140611736357